<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.appname" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="25" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_PROFILE" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.READ_CALL_LOG" />
	<application android:label="MereNear.Android" android:icon="@mipmap/ic_launcher">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAGBfO8rlTxN5Q9XUFvG638gV1dxCytnO0" />
	</application>
	<!--<application android:label="MereNear.Android">
		-->
	<!-- Put your Google Maps V2 API Key here. -->
	<!--
		
    -->
	<!--<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />-->
	<!--
	</application>-->
</manifest>